{% extends "wallet/base.html" %}

{% block content %}
    <div id="content-wrapper">
        <button id="switch-form-btn"></button>
        <form id="add-transaction" method="POST">
            {% csrf_token %}
            {{ transaction_form.account }}
            {{ transaction_form.amount }}
            {{ transaction_form.labels }}
            {{ transaction_form.type }}
            {{ transaction_form.note }}
            {{ transaction_form.date }}
            <input hidden name="form" value="transaction"/>
        </form>
        <form id="add-transfer" method="POST">
            {% csrf_token %}
            {{ transfer_form.from_account }}
            {{ transfer_form.target_account }}
            {{ transfer_form.date }}
            {{ transfer_form.note }}
            <input hidden name="form" value="transfer"/>
        </form>

        <div class="button-area">
            <a href="{% url 'wallet:home' %}">back</a>
            <button id="submit-btn">
                Add / Update Record
            </button>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <style>
        #content-wrapper {
            width: 100%;
        } 

        form {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            margin-bottom: 1rem;
        }

        .button-area {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        *.hidden {
            display: none;
        }

        #switch-form-btn {
            width: 100%;
            padding: .2rem;
            text-align: center;
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{% block extra_js %}
<script>
    const switchButton = document.getElementById('switch-form-btn')
    const submitButton = document.getElementById('submit-btn')
    const transactionForm = document.getElementById('add-transaction')
    const transferForm = document.getElementById('add-transfer')

    let form = true // true -> Tranasaction, false = Transfer 

    function switchForm(isTransfer) {
        form = isTransfer 
        switchButton.innerHTML = form ? 'Transaction' : 'Transfer'

        if (form) {
            transferForm.classList.add('hidden')

            transactionForm.classList.remove('hidden')
            submitButton.setAttribute('form', 'add-transaction')
        }
        else {
            transactionForm.classList.add('hidden')

            transferForm.classList.remove('hidden')
            submitButton.setAttribute('form', 'add-transfer')
        }
    }

    switchButton.addEventListener('click', () => switchForm(!form))
    switchForm(form)
</script>
{% endblock %}