{% extends "wallet/base.html" %}

{% block content %}
    <div id="content-wrapper">
        <form id="add-record-form" class="add-record-form" method="POST">
            {% csrf_token %}
            {{ form.account }}
            {{ form.amount }}
            {{ form.labels }}
            {{ form.type }}
            {{ form.note }}
            {{ form.date }}
        </form>

        <div class="button-area">
            <a href="/wallet">back</a>
            <button form="add-record-form">
                {% if mode == 'update' %}
                    Update Record
                {% else %}
                    Add Record
                {% endif %}
            </button>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <style>
        #content-wrapper {
            width: 100%;
        } 

        form {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            margin-bottom: 1rem;
        }

        .button-area {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
{% endblock %}