{% extends "wallet/base.html"%}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/index.scss' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <section class="menu">
            <div>
                <a href="/wallet/add">
                    <button class="add-btn">Add Record</button>
                </a>
            </div>
        </section>
        <section class="transactions">
            {% if records %}
                <div class="transaction-row">
                    <div class="note">Amount</div>
                    <div class="date">Date</div>
                    <div class="labels">Labels</div>
                    <div class="amount">Amount</div>
                </div>
                {% for record in records %}
                    {% include 'wallet/components/transaction.html' with record=record %}
                {% endfor %}
                <div class="pagination">
                    {% if records.has_next %}
                        <a class="next" href="{% url 'wallet:home' %}?page={{ records.next_page_number }}">
                            >> 
                        </a>
                    {% endif %}
                    {% if records.has_previous %}
                        <a class="previous" href="{% url 'wallet:home'%}?page={{ records.previous_page_number }}">
                            <<
                        </a>
                    {% endif %}
                </div>
            {% else %}
            <div class="no-record">
                No Records found!
            </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
