{% include "wallet/base.html"%}

{% block content %}
    <div class="content">
        <section class="menu">
            <div>
                <a href="/wallet/add">
                    <button class="add-btn">Add Record</button>
                </a>
            </div>
        </section>
        <section class="transactions">
            {% if records %}
                <div class="transaction-row head">
                    <div class="note">Amount</div>
                    <div class="date">Date</div>
                    <div class="labels">Labels</div>
                    <div class="amount">Amount</div>
                </div>
                {% for record in records %}
                <div class="transaction-row">
                    <a class="note" href="/wallet/update/{{ record.pk }}">
                        {{ record.note }}
                    </a>
                    <div class="date">
                        {{ record.date|date:'d M' }}
                    </div>
                    <div class="labels">
                        {% for label in record.labels.all %}
                        <div class="label">
                            {{ label.name }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="amount
                        {% if record.type == "Expenses"%}
                        debit
                        {% else %}
                        credit
                        {% endif %}
                    ">
                        {{ record.amount }}
                    </div>
                </div>
                {% endfor %}
                <div class="pagination">
                    {% if records.has_next %}
                        <a class="next" href="{% url 'home' %}?page={{ records.next_page_number }}">
                            >> 
                        </a>
                    {% endif %}
                    {% if records.has_previous %}
                        <a class="previous" href="{% url 'home'%}?page={{ records.previous_page_number }}">
                            <<
                        </a>
                    {% endif %}
                </div>
            {% else %}
            <div class="no-record">
                No Records found!
            </div>
            {% endif %}
        </section>
    </div>
    <style>
        .content {
            display: flex;
            flex-direction: column;
            width: 50rem;
            margin-left: auto;
            margin-right: auto;
            min-height: 100vh; 
        }

        .head {
            background-color: lightgray;
            padding: 1em 2em 1em 2em;
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-bottom: 2rem;
        }

        .add-btn,.accounts-btn {
            padding: 1em 2em 1em 2em;
            border-radius: .4rem;
        }

        .transactions {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        
        .transaction-row {
            display: flex;
            flex-direction: row;
            height: 2em;
            padding: .5rem;
            justify-items: center;
        }

        .transaction-row:hover {
            background-color: lightgray;
            border-radius: .4rem;
        }
        
        .note, .date, .labels, .amount {
            margin-top: auto;
            margin-bottom: auto;
        }

        .date, .labels, .amount {
            width: 6rem;
            text-align: end;
        }

        .note {
            flex-grow: 1;
        }

        .labels {
            width: 10rem;
            overflow: hidden;
        }

        .no-record {
            text-align: center;
        }

        .date-col {
            width: 100%;
        }

        .amount .credit {
            color: lightgreen;
        }

        .amount .debit {
            color: red
        }

        .pagination {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    </style>
{% endblock %}
